<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Prodvider Page </title>

	-->
  </head>

  <body id="reportsPage">
   
    <form action="" class="search-bar">
      <div >Search Provider</div>
      <input type="search" name="search" pattern=".*\S.*" required>
      <button class="search-btn" type="submit">
      
        <span>Search</span>
      </button>
    </form>
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td routerlink="/editprovider"class="tm-product-name">Rihab</td>
                    <td>rihab@gmail.com</td>
                    <td>Mourouj</td>
                    <td>29856430</td>

                    <td>
                      
                      <a routerLink="/editprovider" class="tm-product-delete-link">
                        <i class="far fa-edit tm-product-delete-icon"></i>
                      </a>
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
              
                    </td>
                  </tr>
                  <tr>
                    
                </tbody>
              </table>
            </div>
            <a
              routerLink="/addprovider"
              class="btn btn-primary btn-block text-uppercase mb-3">Add a new provider</a>
            
          </div>
        </div>
      </div>
    </div>


  </body>
</html>