<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product </title>

  </head>

  <body>
 
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                    [(ngModel)]="prd.lib_prd"
                      id="lib_prd"
                      name="lib_prd"
                      type="text"
                      class="form-control validate"
                      required
                    />
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                    <textarea
                    [(ngModel)]="prd.description_prd"
                    name="description_prd"
                      class="form-control validate"
                      rows="3" 
                      required
                    ></textarea>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                    [(ngModel)]="prd.categorie"
                      class="custom-select tm-select-accounts"
                      id="categorie"
                      name="categorie"
                    >
                      <option [ngValue]="undefined" selected>Select category</option>
                      <option *ngFor="let elt of categories " [ngValue]="elt">{{elt.lib_categorie}}</option>
                     
                    </select>
                  </div>


                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >brand</label
                    >
                    <select
                    [(ngModel)]="prd.laboratoire"
                      class="custom-select tm-select-accounts"
                      id="laboratoire"
                      name="laboratoire"
                    >
                      <option [ngValue]="undefined" selected>Select a brand</option>
                      <option *ngFor="let elt of marques " [ngValue]="elt">{{elt.lib_labo}}</option>
                     
                    </select>
                  </div>
                  
                   
                  </form>
             </div>
              <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                <div class="tm-product-img-dummy mx-auto">
                  <i
                    class="fas fa-cloud-upload-alt tm-upload-icon"
                    onclick="document.getElementById('fileInput').click();"
                  ></i>
                </div>
                <div class="custom-file mt-3 mb-3">
                  <input id="fileInput" type="file" style="display:none;" />
                  <input
                    type="button"
                    class="btn btn-primary btn-block mx-auto"
                    value="UPLOAD PRODUCT IMAGE"
                    onclick="document.getElementById('fileInput').click();"
                  />
                </div>
               
                    <div class="row">
             
                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label
                          for="stock"
                          
                          >Product Price
                        </label>
                        <input
                        [(ngModel)]="prd.prix_prd"
                          id="prix_prd"
                          name="prix_prd"
                          type="text"
                          class="form-control validate"
                          required
                        />
                      </div>
                       <div class="form-group mb-3 col-xs-12 col-sm-6">
                        <label
                          for="stock"
                          >Delivery Price
                        </label>
                        <input
                        [(ngModel)]="prd.prix_livr"
                          id="prix_livr"
                          name="prix_livr"
                          type="text"
                          class="form-control validate"
                          required
                        />
                      </div>
                </div> 
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label
                        for="expire_date"
                        >Adding date
                      </label>
                      <input
                      [(ngModel)]="prd.dateAjout_prd"
                        id="dateAjout_prd"
                        name="dateAjout_prd"
                        type="text"
                        class="form-control validate"
                        data-large-mode="true"
                      />
                    </div>
                    
              </div>  
              </div>
              <div class="col-12">
                <button  (click)=productAdd() type="submit" class="btn btn-primary btn-block text-uppercase">Add Product Now</button>
              </div>
            
           </div>
            
            </div>
          </div>
        </div>
      </div>
    </body>
 

</html>
